nav{
    background-color:rgba(221, 184, 38, 0.644);
    color: whitesmoke;
    width:100%;
}

#playerScore{
    padding-left: 20%;
    font-size:2rem
}

#highScore{
    padding-right: 20%;
    font-size:2rem
}
#wrongRight{
    
    font-size:1.5rem
}